footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #b5a397;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.description {
  word-wrap: break-word;
  margin-right: 1em;
}

.description-text {
  font-size: 1.5rem !important;
}

.container {
  & .jumbotron {
    border-radius: 0;
    padding: 5px;
  }
  & .well {
    border-radius: 0;
  }
}

.fixed-width-btn {
  min-width: 10em;
  max-width: 10em;
}

.margin-right-1em {
  margin-right: 1em;
}

.maring-up-1em {
  margin-top: 1em;
}

.text-error {
  color: #b94a48;
}

.vertical-right {
  border-right: 1px dashed #333;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0px
}

.navbar-inverse {
  background-color: #f6f1ed;
  border-color:#f6f1ed;
  .navbar-nav>li>a {
    color: #30231d;
  }
  .navbar-nav>li>a:focus,
  .navbar-nav>li>a:hover {
    color: #6a5750;
  }
  .navbar-text {
    color: #6a5750;
  }

  .navbar-brand{
      color: #30231d;
      :hover,
      :focus {    
        color: #6a5750;
      }
  }
}

.banner {

  // @media screen and (min-width: 2592) {
  //   background-image: url("/images/fireplace_2592_1944.jpg");
  // }
  // @media screen and (min-width: 1920) {
  //   background-image: url("/images/fireplace_1920_1440.jpg");
  // }
  // @media screen and (min-width: 1280) {
  //   background-image: url("/images/fireplace_1280_960.jpg");
  // }
  // @media screen and (min-width: 540) {
  //   background-image: url("/images/fireplace_640_480.jpg");
  // }

  background-image: url("/images/fireplace_1920_1440.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #b5a397;
  text-align: center;
  position: relative;
}

.jumbotron {
  background-color: white;
  color: white;
}

.em3-bottom-padding {
  padding-bottom: 3em;
}

.em5-padding {
  padding: 5em;
}

.em1-padding {
  padding: 1em;
}

.center {
  text-align: center;
}

.zero-margin {
  margin: 0;
}

.line-height-20p {
  line-height:20%;
}

.contact-line {
  line-height:6%;
  color: #6a5750
}

.contact-value {
  margin-top:6%;
  line-height:35%
}

.borderless {
  border: 0
}

.jumbotron.contact {
  color: #6a5750;
  background-color: white;
}
.footer .footer-below {
  padding-top: 25px;
}

.table-of-contents {
    margin-top: 1em;
}

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #f5f5f5;
}

.clear-left
{
    clear: left;
}

[data-slide="prev"]
{
    margin-right: 10px;
}


.image-gallery-slide {
  max-width: 100%; /* or to whatever you want here */
// max-height: 10%; /* or to whatever you want here */
}

#gallery {
  padding-top: 30px
}
